@font-face {
	font-family: PlaypenSans;
	src: url('../fonts/PlaypenSans-SemiBold.ttf');
}

$color-black: #000000;
$color-red: #ff0000;
$color-green: #008000;
$color-blue: #0000ff;
$color-gray: #808080;

$color-sticker-yellow: #fbff1b;
$color-sticker-dark-yellow: #ffe606be;

$color-background-gray: #e6e6e6;
